{% extends 'base.html' %}

{% block dashboardbody %}
<div class="p-6 overflow-auto bg-gray-800 flex items-center justify-center text-gray-800 bg-gray-200">
<!-- Flashed messages  -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-red-500" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
  {% elif category == "success"%}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-emerald-500" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z">
                    </path>
                </svg>

                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
  {% else %}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-yellow-400" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- flashed messages ends here  -->
</div>
<div class="p-6 overflow-auto bg-gray-800 flex items-center justify-center text-gray-800 bg-gray-200 mt-5">

        
  <!-- Admin dashboard content----->
  <!-- Tile 1 -->
  <div class="flex items-center p-4 bg-white rounded mr-2">
    <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
      <svg class="w-6 h-6 fill-current text-green-700"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="flex-grow flex flex-col ml-4">
      <span class="text-xl font-bold">$8,430</span>
      <div class="flex items-center justify-between">
        <span class="text-gray-500">Revenue last 30 days</span>
        <span class="text-green-500 text-sm font-semibold ml-2">+12.6%</span>
      </div>
    </div>
  </div>
  
  <!-- Tile 2 -->
  <div class="flex items-center p-4 bg-white rounded mr-2">
    <div class="flex flex-shrink-0 items-center justify-center bg-red-200 h-16 w-16 rounded">
      <svg class="w-6 h-6 fill-current text-red-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="flex-grow flex flex-col ml-4">
      <span class="text-xl font-bold">211</span>
      <div class="flex items-center justify-between">
        <span class="text-gray-500">Sales last 30 days</span>
        <span class="text-red-500 text-sm font-semibold ml-2">-8.1%</span>
      </div>
    </div>
  </div>
  
  <!-- Tile 3 -->
  <div class="flex items-center p-4 bg-white rounded mr-3">
    <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
      <svg class="w-6 h-6 fill-current text-green-700"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="flex-grow flex flex-col ml-4">
      <span class="text-xl font-bold">{{customers}}</span>
      <div class="flex items-center justify-between">
        <span class="text-gray-500">Customers last 30 days</span>
        <span class="text-green-500 text-sm font-semibold ml-2">+28.4%</span>
      </div>
    </div>
  </div>
  
</div>
<!-- 75738 -->
{% endblock dashboardbody %}