<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Freelance</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <!-- Include Alpine.js -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

    <!-- Include SocketIO script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>


    {% block header %}{% endblock header %}
</head>

<body>
  {% if not current_user.is_authenticated %}
  <header class="mb-2 px-4 shadow">
    <div class="relative mx-auto flex max-w-screen-lg flex-col py-4 sm:flex-row sm:items-center sm:justify-between">
      <a class="flex items-center text-2xl font-black" href="/">
        <span class="mr-2 text-3xl text-blue-600"
          ><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M6.925 16.875Q5.2 16.225 4.1 14.713Q3 13.2 3 11.25q0-1.975.938-3.513Q4.875 6.2 6 5.15q1.125-1.05 2.062-1.6L9 3v2.475q0 .625.45 1.062q.45.438 1.075.438q.35 0 .65-.15q.3-.15.5-.425L12 6q.95.55 1.625 1.35t1.025 1.8l-1.675 1.675q-.05-.6-.287-1.175q-.238-.575-.638-1.05q-.35.2-.738.287q-.387.088-.787.088q-1.1 0-1.987-.612Q7.65 7.75 7.25 6.725q-.95.925-1.6 2.062Q5 9.925 5 11.25q0 .775.275 1.462q.275.688.75 1.213q.05-.5.287-.938q.238-.437.588-.787L9 10.1l2.15 2.1q.05.05.1.125t.1.125l-1.425 1.425q-.05-.075-.087-.125q-.038-.05-.088-.1L9 12.925l-.7.7q-.125.125-.212.287q-.088.163-.088.363q0 .3.175.537q.175.238.45.363ZM9 10.1Zm0 0ZM7.4 22L6 20.6L19.6 7L21 8.4L17.4 12H21v2h-5.6l-.5.5l1.5 1.5H21v2h-2.6l2.1 2.1l-1.4 1.4l-2.1-2.1V22h-2v-4.6l-1.5-1.5l-.5.5V22h-2v-3.6Z" /></svg
        ></span>
        <span>Freelance</span>
      </a>
      <input class="peer hidden" type="checkbox" id="navbar-open" />
      <label class="absolute right-0 mt-1 cursor-pointer text-xl sm:hidden" for="navbar-open">
        <span class="sr-only">Toggle Navigation</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512"><path fill="currentColor" d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zm448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32z" /></svg>
      </label>
      <nav aria-label="Header Navigation" class="peer-checked:block hidden pl-2 py-6 sm:block sm:py-0">
        <ul class="flex flex-col gap-y-4 sm:flex-row sm:gap-x-8">
          <li class=""><a class="text-gray-600 hover:text-blue-600" href="#">Pricing</a></li>
          <li class=""><a class="text-gray-600 hover:text-blue-600" href="#">Demo</a></li>
          <li class=""><a class="text-gray-600 hover:text-blue-600" href="#">Support</a></li>
          <li class="mt-2 sm:mt-0"><a class="rounded-xl border-2 border-blue-600 px-6 py-2 font-medium text-blue-600 hover:bg-blue-600 hover:text-white" href="{{url_for('login')}}">Login</a></li>
          <li class="mt-2 sm:mt-0"><a class="rounded-xl border-2 border-blue-600 px-6 py-2 font-medium text-blue-600 hover:bg-blue-600 hover:text-white" href="{{url_for('signup')}}">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% endif %}
<!-- Nav bar ends here  -->
<!-- Flashed messages  -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-red-500" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
  {% elif category == "success"%}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-emerald-500" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z">
                    </path>
                </svg>

                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
  {% else %}
<div x-data="{ showAlert: true }">
<div class="w-full text-white bg-yellow-400" x-show="showAlert">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <p class="mx-3">{{ message }}</p>
            </div>

            <button
                class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none"
                @click="showAlert = false"
            >
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
  </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- flashed messages ends here  -->

{% block body %}

{% endblock body %}

  


  <script>
    function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("copyUrl");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field to the clipboard */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied: " + copyText.value);
    }
</script>

<script>
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  // Handle incoming notifications
  socket.on('profile_view_notification', function(data) {
      // Display the notification using Alpine.js
      Alpine.store('notificationMessage', 'Your profile was viewed by customer ' + data.customer_id);
      Alpine.store('showNotification', true);
  });
</script>
</body>
</html>